<div
  class="curly-brackets-wrapper"
  [class.curly-brackets-wrapper--small]="small"
>
  <div class="curly-brackets-wrapper__brackets">
    <div class="curly-brackets-wrapper__brackets-top"></div>
    <div class="curly-brackets-wrapper__brackets-dynamic-line"></div>
    <div class="curly-brackets-wrapper__brackets-middle"></div>
    <div class="curly-brackets-wrapper__brackets-dynamic-line"></div>
    <div class="curly-brackets-wrapper__brackets-bottom"></div>
  </div>

  <div class="curly-brackets-wrapper__content">
    <ng-content></ng-content>
  </div>
</div>
