<div class="lab-item">
  <div class="lab-item__input">
    <h2 class="lab-item__input-title">
      <mat-icon>functions</mat-icon>
      Input
    </h2>
    <form
      [formGroup]="inputForm"
      class="lab-item__input-form"
    >
      <mat-form-field
        matTooltip="Supported operators: x, +, -, *, /, ^, sin, cos, tan, log, ln, sqrt, abs, E, pi, (, ), ."
        matTooltipPosition="above"
      >
        <mat-label>Function f(x)</mat-label>
        <input
          formControlName="f_string"
          matInput
          type="text"
        />
        <mat-error *ngIf="fString.hasError('required')">This field is required.</mat-error>
        <mat-error *ngIf="fString.hasError('invalidExpression')">Invalid expression.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>a</mat-label>
        <input
          formControlName="a"
          matInput
          step="0.1"
          type="number"
        />
        <mat-error *ngIf="a.hasError('required')">This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>b</mat-label>
        <input
          formControlName="b"
          matInput
          type="number"
        />
        <mat-error *ngIf="b.hasError('required')">This field is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Rule type </mat-label>
        <mat-select formControlName="rule_type">
          <mat-option [value]="RectanglesRuleType.Left">Left</mat-option>
          <mat-option [value]="RectanglesRuleType.Middle">Middle</mat-option>
          <mat-option [value]="RectanglesRuleType.Right">Right</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number of interval partitions</mat-label>
        <input
          formControlName="number_of_interval_partitions"
          matInput
          type="number"
        />
        <mat-error *ngIf="numberOfIntervalPartitions.hasError('min')">
          Minimum value is {{ numberOfIntervalPartitions.errors?.['min']['min'] }}.
        </mat-error>
      </mat-form-field>
    </form>

    <button
      (click)="submit()"
      [disabled]="inputForm.invalid || (canRunTask$ | async) === false"
      class="lab-item__input-submit"
      color="primary"
      mat-flat-button
    >
      Calculate
    </button>
  </div>

  <mat-divider />

  <div class="lab-item__output">
    <ng-container
      *ngIf="(serverTaskState$ | async) !== ServerTaskState.Calculating; else calculationInProgressTemplate"
    >
      <ng-container *ngIf="(labSnapshot$ | async)?.output as labSnapshotOutput; else noOutputTemplate">
        <nml-lab-output [error]="labSnapshotOutput.error">
          <div class="lab-item__output-content">
            <h3>
              <strong>Result:</strong>
              {{ labSnapshotOutput['result'] }}
            </h3>

            <h3>
              <strong>Execution time:</strong>
              {{ labSnapshotOutput['execution_time_ms'] || 0 }} ms
            </h3>
          </div>
        </nml-lab-output>
      </ng-container>

      <ng-template #noOutputTemplate>
        <nml-lab-no-output />
      </ng-template>
    </ng-container>

    <ng-template #calculationInProgressTemplate>
      <nml-lab-calculating />
    </ng-template>
  </div>
</div>
