<div
  class="about"
  xmlns="http://www.w3.org/1999/html"
>
  <div class="about__header">
    <h1 class="about__header-title">Numerical Methods Labs</h1>
    <p class="about__header-description">Labs for Numerical Methods course at Ivan Franko Lviv National University.</p>
  </div>

  <div class="about__content">
    <h2>Version</h2>
    <p>
      <strong>Client: </strong>
      <a
        href="https://github.com/dudynets/Numerical-Methods-Labs/tree/main/client"
        target="_blank"
      >
        {{ APP_CONFIG.clientVersion }}
      </a>
      <br />
      <strong>API: </strong>
      <a
        href="https://github.com/dudynets/Numerical-Methods-Labs/tree/main/api"
        target="_blank"
      >
        {{ APP_CONFIG.apiVersion }}
      </a>
    </p>

    <h2>Technologies</h2>

    <h3>API</h3>
    <ul>
      <li>This project uses Python FastAPI to provide a REST API for the Numerical Methods Labs project.</li>
      <li>
        Main libraries used:
        <ul>
          <li>
            <a
              href="https://fastapi.tiangolo.com/"
              target="_blank"
              >FastAPI</a
            >
            - Python web framework.
          </li>
          <li>
            <a
              href="https://www.uvicorn.org/"
              target="_blank"
              >Uvicorn</a
            >
            - ASGI server.
          </li>
          <li>
            <a
              href="https://numpy.org/"
              target="_blank"
              >NumPy</a
            >
            - Python library for scientific computing.
          </li>
          <li>
            <a
              href="https://www.sympy.org/en/index.html"
              target="_blank"
              >SymPy</a
            >
            - Python library for symbolic mathematics.
          </li>
          <li>
            <a
              href="https://scipy.org/"
              target="_blank"
              >SciPy</a
            >
            - Python library for scientific computing.
          </li>
          <li>
            <a
              href="https://matplotlib.org/"
              target="_blank"
              >Matplotlib</a
            >
            - Python library for plotting.
          </li>
        </ul>
      </li>
      <li>
        Uses
        <a
          href="https://python-poetry.org/"
          target="_blank"
          >Poetry</a
        >
        for dependency management.
      </li>
    </ul>

    <h3>Client</h3>
    <ul>
      <li>This project uses Angular to provide a client for the Numerical Methods Labs project.</li>
      <li>
        Main libraries used:
        <ul>
          <li>
            <a
              href="https://angular.io/"
              target="_blank"
              >Angular</a
            >
            - TypeScript web framework.
          </li>
          <li>
            <a
              href="https://material.angular.io/"
              target="_blank"
              >Angular Material</a
            >
            - UI component library.
          </li>
          <li>
            <a
              href="https://www.ngxs.io/"
              target="_blank"
              >NGXS</a
            >
            - State management library.
          </li>
        </ul>
      </li>
      <li>
        Uses
        <a
          href="https://yarnpkg.com/"
          target="_blank"
          >Yarn</a
        >
        for dependency management.
      </li>
    </ul>

    <h2>Source code</h2>
    <p>
      Source code is available on
      <a
        href="https://github.com/dudynets/Numerical-Methods-Labs"
        target="_blank"
        >GitHub</a
      >.
    </p>

    <h2>Developer</h2>
    <p>
      This project was developed by
      <a
        href="https://dudynets.dev"
        target="_blank"
        >Oleksandr Dudynets</a
      >.
    </p>

    <h2>License</h2>
    <p>
      This project is licensed under the MIT License - see the
      <a
        href="https://github.com/dudynets/Numerical-Methods-Labs/blob/main/LICENSE"
        target="_blank"
        >LICENSE</a
      >
      file for details.
    </p>
  </div>
</div>
